/*---------------------------------- EJERCICIO 16 ---------------------------- */
.ejercicio16 p span{
    color: red;
}
/*---------------------------------- EJERCICIO 17 ---------------------------- */
/* Es el script de hasta abajo del documento html */

/*---------------------------------- EJERCICIO 18 ---------------------------- */

/* .ejercicio18 input:focus{
    border-color:  red;
    border-width: 5px;
} */

.ejercicio18:focus{
    border-color: red;
    /* hay que quitarle el borde predeterminado para colocar el nuevo color de borde: aoutline: none; lo quita */
    outline: none;
    border-width: 2px;
}

/*---------------------------------- EJERCICIO 19 ---------------------------- */
.ejercicio19 div p:first-of-type{
    background-color: yellow;
}
/* o */
/* .ejercicio19 div p:first-child{
    background-color: yellow;
} */

/*---------------------------------- EJERCICIO 20 ---------------------------- */
.ejercicio20 li:nth-child(3n){
    color: red;
}